/* reset */
div, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.page-wrapper{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: auto;
    background: #fffafa;
}

header{
    grid-column: 2/4;
    grid-row: 1/7;
}

#photo{
    grid-column: 1/2;
    grid-row: 1/40;
    background: linear-gradient(to left, #e53935 50px, #f44336);

}

#formation{
    grid-column: 2/4;
    grid-row: 7/21;
}

#experience-pro{
    grid-column: 2/4;
    grid-row: 21/30;
}

#recommandations{
    grid-column: 2/4;
    grid-row: 32;
}

#contact{
    grid-column: 1/2;
    grid-row: 8/14
}

#about{
    grid-column: 1/2;
    grid-row: 14/24;
}

#skills{
    grid-column: 1/2;
    grid-row: 24/37;
}

#loisirs{
    grid-column: 1/2;
    grid-row: 37;
}

.bloc-section{
    padding-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 1rem;
}

.bloc-section .fas{
    text-indent: 0.1rem;
    color: #e53935;
    margin-right: 2rem;
    font-size: 2rem;
}

.bloc-section-title{
    border-bottom: 2px solid #e53935;
    padding-bottom: 5px;
    margin-bottom: 2rem;
    display: flex;
}

.section-title{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.9rem;
    text-transform: uppercase;
}

.bloc-texte-side, .bloc-bouton-side, .bloc-icon-side{
    background: linear-gradient(to left, #e53935 50px, #f44336);
    color: white;
    padding: 1.5rem;
}

.bloc-sider{
    margin-left: 3rem;
    margin-right: 3rem;
}

.bandeau-title{
    background: linear-gradient(to left, #212121 50px, black);
    color: white;
    text-align: center;
    line-height: 2.2rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.bloc-icon-side{
    text-align: center;
    letter-spacing: 0.5rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.bloc-title{
    padding: 3rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
}

.header-title{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.75rem;
    text-indent: 0.18rem;
}

.title-color-style{
    font-weight: 400;
    color: #e53935;
}

.header-subtitle{
    font-weight: 400;
    font-size: 2.1rem;
    color:#455A64;
    text-transform: capitalize;
}

.underline-color{
    padding-bottom: 5px;
    border-bottom: 4px solid #e53935;
}

@media (min-width: 1200px){

    .page-wrapper{
        max-width: 1200px;
        font-size: 14px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(40, 40px);
    }
}